body {
    background: url(../Images/Theme/diagonal-squares.png) repeat 0 0;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

p, div {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

p {
    font-size: 11px;
}

.loader {
    border: 8px solid whitesmoke;
    border-top: 8px solid #17a2b8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    height: 400px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.hidden {
    display: none;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;
}

.page-header {
    text-align: center;    
}

.col, .col-2 {
    color: whitesmoke;
    margin-bottom: 8px;
    margin-right: 8px;
    max-width: 270px;
    height: 520px;
}

@media only screen and (max-width: 600px){
    .col, .col-2 {
        max-width: 410px;
        min-width: 310px;
    }
}

.border {
    background: Url(../Images/Theme/prism.png) repeat 0 0;
}

.btn-group {
    width: 100%;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
}

.btn-xs {
    height: 40px;
    width: 115px;
    font-size: 12px;
}

.container-fluid {
    max-width: 1400px;
}

.dropdown-item.checked, .dropdown-item.active{
    color:black;
}

.text-muted {
    color: whitesmoke !important;
}

.dropdown-menu {
    font-size: .875rem;
}

.archtype-dropdown {
    background-color: #ffc107;
}

.skill-dropdown {
    background-color: #6c757d;
}

.demon-dropdown {
    background-color: #17a2b8;
}

.bootstrap-select, .filter-option {
    text-align: center !important;
}

.dropdown-item.disabled {
    color: #a7a7a7;
}

.center {
    text-align: center;
}

.demonInfo {
    min-height:120px;
}

.img {
    border:none;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-center {
    text-align: center;
    width:100%;
    display: inline-block;
}

.tab-pane {
    height:180px;    
}

.href {
    color: whitesmoke;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

a {
    color: #17a2b8;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: #17a2b8;
}
