body {
    background: url(../Images/Theme/diagonal-squares.png) repeat 0 0;
    color: whitesmoke;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

p, div {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

p {
    font-size: 11px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;
}

.page-header {
    text-align: center;    
}

.tab button:hover {
    background-color: #ddd;
    color: black;
}

.tab button.active {
    background-color: #ccc;
    color: black;
}

.tabcontent1, .tabcontent2, .tabcontent3, .tabcontent4 {
    display: none;
    height: 400px;
    width: 100px;
}

.wgtmsr {
   width: 115px;
}

.col, .col-2 {
    color: whitesmoke;
    max-width: 270px;
    margin-bottom: 8px;
}

.border {
    background: Url(../Images/Theme/prism.png) repeat 0 0;
}

.btn-group {
    width: 230px;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
}

.btn-xs {
    height: 40px;
    width: 115px;
    font-size: 12px;
}

.container-fluid {
    max-width: 1300px;
}

.dropdown-item.checked, .dropdown-item.active{
    color:black;
}

.text-muted {
    color: whitesmoke !important;
}

.dropdown-menu {
    font-size: .875rem;
}

.archtype-dropdown {
    background-color: #ffc107;
}

.skill-dropdown {
    background-color: #6c757d;
}

.demon-dropdown {
    background-color: #17a2b8;
}